<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.system.mapper.TypesMapper">

    <select id="findTypesPage" resultType="Types">
      select * from types
       ${ew.customSqlSegment}
    </select>

    <select id="findTypesByTname" resultType="Types">
        select * from types where tname = #{tname}
    </select>

    <select id="getTypes" resultType="Types">
        select * from types
    </select>

</mapper>
